asgiref==3.8.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.3
docker==7.1.0
idna==3.10
mysqlclient==2.2.7
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0

# pywin32 sólo para Windows
# pywin32==311 ; sys_platform == 'win32'
